.swiper {
  width: 100%;
  height: 100%;
  --media-swiper-bullet-size: clamp(14px, 1.6vmin, 20px);
  --media-swiper-bullet-font-size: clamp(10px, 1.2vmin, 12px);
}

.swiper-slide {
  align-items: center;
  display: flex;
  justify-content: center;
}

.swiper-slide img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.swiper-pagination-bullet {
  background: #d3d3d3;
  color: #333;
  line-height: var(--media-swiper-bullet-size);
  opacity: 1;
  text-align: center;
  width: var(--media-swiper-bullet-size);
  height: var(--media-swiper-bullet-size);
  font-size: var(--media-swiper-bullet-font-size);
}

.swiper-pagination-bullet-active {
  background: #0077be;
  color: #fff;
}

.swiper-button-next,
.swiper-button-prev {
  color: #888;
}

.swiper-button-next {
  right: 15px;
}

.swiper-button-prev {
  left: 15px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #ddd;
}

.swiper-pagination {
  bottom: clamp(0px, 0.4vmin, 4px) !important;
}
